/* CSS */

/* Code adapted from: https://medium.freecodecamp.org/how-to-build-an-html-calculator-app-from-scratch-using-javascript-4454b8714b98 */

/*Website design*/
html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

/* Input design*/
input {
  border: 0;
  border-radius: 0;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  appearance: none;
  text-align: left;
  color: orange;
}

input:hover{
  outline: black;
  color: black;
}
input:active{
    outline: black;
    background-color: orange;
}

/*Font Design*/

:root {
  font-family: Helvetica, Arial, sans-serif;
 }

 h1{
   display: block;
   font-family: cursive;
   font-weight: lighter;
 }

html {
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
}

body {
  align-items: center;
  background-color: orange;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

/*Container*/
.container {
  max-width: 20em;
}

.container  p {
  text-align: center;
}
/*Calculator container design*/
.calculator {
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

/* Calculator Display design*/
.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 1.75em;
  padding: 0.5em 0.75em;
}

/*Keys design*/
.calculator__keys {
  background-color: #fff;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}
